
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeue-Regular.ttf') format('ttf') ;
}

* {
    margin: 0;
    padding: 0;
}
  
 body {
    font-family: "Open Sans", sans-serif;
    color: #48555B;
}
  
img {
    display: block;
}
  
a {
    text-decoration: none;
    color: #48555B;
}
  
.container {
    max-width: 941px;
    margin: 0 auto;
}
  
  /* HEADER */
.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: gray;
    background-image: url('./img/bg.svg');
    background-size: cover;
    background-position: center;
    font-weight: 700;
}
  
.header p {
    text-align: center;
    color: #ffffff;
}
  
.header__logo {
    padding-top: 42px;
}
  
.header__text_big {
    font-family: "Bebas Neue", cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 6px;
}
  
.header__text_center {
    font-size: 16px;
}
  
.header__text_bot {
    padding-bottom: 71px;
    letter-spacing: 4px;
    font-size: 11px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 23px;
    font-weight: 700;
    font-size: 12px;
}
  
main > .container {
    border-bottom: 1px solid #E6E6E6;
}
  
.navigation__logo > img {
    height: 18px;
}
  
nav > ul {
    list-style-type: none;
    display: flex;
    gap: 30px
}
  
nav > ul > li > a {
    transition: 0.5s;
}
  
nav > ul > li > a:hover {
    color: #00A4E5;
    transition: 0.5s;
}

h2 {
    text-align: center;
    padding-top: 48px;
}