@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #48555b;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #48555b;
}

.container {
  max-width: 941px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: gray;
  background-image: url("./img/bg.svg");
  background-size: cover;
  background-position: center;
  font-weight: 700;
}

.header p {
  text-align: center;
  color: #ffffff;
}

.header__logo {
  padding-top: 42px;
}

.header__text_big {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 6px;
}

.header__text_center {
  font-size: 16px;
}

.header__text_bot {
  padding-bottom: 71px;
  letter-spacing: 4px;
}

.navigation {
  border-bottom: 1px solid #e6e6e6;
}

.navigation>.container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 23px;
  font-weight: 700;
  font-size: 12px;
}

.navigation__logo>img {
  height: 18px;
}

nav>ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

nav>ul>li>a {
  transition: 0.5s;
}

nav>ul>li>a:hover {
  color: #00a4e5;
  transition: 0.5s;
}

.about {
  padding-bottom: 129px;
}

.main__header {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 48px;
  position: relative;
  margin-bottom: 92px;
}

.about__header::after {
  content: "";
  width: 50px;
  height: 0;
  border: 1px solid #00a4e5;
  position: absolute;
  bottom: -11px;
  left: calc(50% - 25px);
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__text_header {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.about__text {
  width: 405px;
}

.about__text_header>span {
  color: #00a4e5;
}

.text {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
}

.about__img {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 115px;
}

.services_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.services__header {
  padding: 0;
  margin: 0;
  min-width: 201px;
}

.services__header::after {
  content: "";
  width: 50px;
  height: 0;
  border: 1px solid #00a4e5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.services_top>p {
  font-size: 11px;
  line-height: 19px;
  padding: 0 32px 0 155px;
}

.services__btm {
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  padding: 11px 29px;
  background-color: #00a4e5;
  border: 0;
  min-width: 153px;
  max-height: 40px;
  border: 1px solid #00a4e5;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.services__btm:active {
  transform: scale(0.9);
  transition: 0.5s ease-out;
}

.services__capabilities {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.capabilities {
  padding: 38px 22px;
  min-width: 250px;
  box-sizing: content-box;
  border: 1px solid #e6e6e6;
}

.capabilities>img {
  height: 66px;
}

.capabilities>h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 25px 0 13px;
}

.capabilities>p {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
}

.touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  background-image: url("./img/touch.svg");
  background-position-y: 2px;
  background-repeat: no-repeat;
  min-height: 500px;
  box-sizing: border-box;
  background-size: cover;
}

.touch>h2 {
  width: 348px;
  text-align: center;
  padding: 120px 0 35px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.touch__btm {
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  padding: 11px 29px;
  background-color: #00a4e5;
  border: 0;
  min-width: 153px;
  max-height: 40px;
  border: 1px solid #00a4e5;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.touch__btm:active {
  transform: scale(0.9);
  transition: 0.5s ease-out;
}

.touch__btm:hover {
  color: #00a4e5;
  background-color: #ffffff;
  border: 1px solid #00a4e5;
}

.newsletter {
  height: 100px;
  background-color: #171819;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper>p {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  padding-right: 70px;
}

.email>input {
  box-sizing: border-box;
  width: 250px;
  height: 40px;
  padding-left: 16px;
}

.email>input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.email>button {
  transform: translate(-5px, -0.5px);
}

.email__btm {
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  padding: 11px 29px;
  background-color: #00a4e5;
  border: 0;
  min-width: 153px;
  max-height: 40px;
  border: 1px solid #00a4e5;
  cursor: pointer;
}


footer {
  background-color: #171819;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

footer>p {
  padding-top: 22px;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}
