* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

.header {   
    width: 1438px;
    height: 769px;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url(./Header_logo/bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text1 {
    text-align: center;
    color: white;
    padding-top: 306px;
}

.text2 {
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 211px 0 71px;
    letter-spacing: 4px;
}

.text1>p:first-child {
    font-size: 60px;
    padding-bottom: 21px;
    font-family: 'Bebas Neue' cursive;
    letter-spacing: 5.5px;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
}


font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;